* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    background-color: chartreuse;
    border: 0;
    border-radius: 5px;
}

/* header area design started from here */

header {
    height: 700px;
    background-image: url(./images/banner/banner1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    text-align: right;
    padding: 216px 230px 0 0;
}

.header-content h2 {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
}

.header-content p {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 32px 0;
}



/* my success days section design started from here */


.my-success p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.success-heading {
    text-align: center;
    margin: 80px 0 50px 0;
}

.success-heading h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.success-heading p {
    margin: 20px 0 40px 0;
}

.success-field {
    display: flex;
    gap: 23px;
    margin: 0 115px 120px 115px;
}

.success-field h4 {
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0 20px 0;
}

.success {
    background-color: rgb(68, 20, 243);
    color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
}

.success p {
    color: #fff;
    margin-bottom: 15px;
}





/* my failure days section design started from here */

.failure-days {
    display: flex;
    align-items: center;
    margin: 130px 200px;
}

.failure-info {
    margin-left: 87px;
}


.failure-info h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}


.failure-info p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0 16px 0;
}

.failure-info li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 8px;
}

.failure-info li i {
    color: #16D887;
    margin-right: 9px;
}





/* my plan section design started from here */


.my-plan {
    text-align: center;
    margin-bottom: 130px;
}

.my-plan h2 {
    margin-bottom: 55px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.plan-category {
    display: flex;
    justify-content: center;
    gap: 86px;
}

.plan-category h3 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0 15px 0;
}

.plan-category p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}




/* call to action section design started from here */

.call-to-action {
    margin: 0 230px 130px 230px;
    text-align: left;
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(./images/watch.png);
    background-size: cover;
    background-position: center right;
    border-radius: 8px;


}

.action-info {
    padding: 59px 0 59px 64px;
}

.action-info h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}




/* footer section design started from here */

footer {
    height: 500px;
    background-color: #000;
    color: #fff;
}

.contact {
    padding: 130px 230px;
    display: flex;
    align-self: center;
    gap: 330px;
    padding-bottom: 0;
}

.contact h2 {
    font-size: 45px;
    font-weight: 700;
}

.contact p {
    font-size: 16px;
    font-weight: 400;
}

.contact .information {
    margin: 16px 0 24px 0;
}


.contact .email {
    margin-bottom: 16px;
}

.contact .phone {
    margin-bottom: 32px;
}

.contact-info img {
    margin-right: 17px;
}

.newslatter h3 {
    font-size: 25px;
    font-weight: 600;
}

.newslatter input[type="text"] {
    background-color: #151414;
    padding: 21px 21px 22px 0;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    margin: 30px 0 16px 0;
}

.newslatter input::placeholder {
    color: #F3F3F3;
    padding-left: 10px
}